# Python
__pycache__/
*.pyc
*.pyo
build/
# dist/ (Onedir 모드에서는 실행에 필요한 파일들이 있으므로 제외하지 않음)
*.spec

# VSCode & Envs
.vscode/
venv/
env/
.env

# MacOS
.DS_Store

# Ignore all in Output except the installer
Output/*
!Output/ContactRemoverSetup.exe
!Output/ContactRemoverSetup_V2Pro.exe

# Excel files & Logs
*.xls
*.xlsx
*로그.txt
